<div class="sticky-action-box--container">
  <div class="sticky-action-box">
    <a href="/education/apply-for-education-benefits/application/1990" class="usa-button-primary va-button-primary">
			{% if beginbuttontext %}
				{{ beginbuttontext }}
			{% else %}
				Begin Application
			{% endif %}
    </a>
    {% if beginsecondarybuttontext %}
    <a href="/education/apply-for-education-benefits/application/1990/manage-benefit" class="usa-button-primary usa-button-outline transparent">
      {{ beginsecondarybuttontext }}
    </a>
    {% endif %}

    <p class="small">Usually processed within <strong>14–30 days</strong></p>
  </div>
</div>
<br/>
